.footer {
    background-color: #737784;
    color: white;
    padding: 12px 40px;
    font-size: 0.75rem;
}

.footer p {
    margin: 0;
}

/* Colonnes Mentions légales et Données personnelles */

.footer .col:nth-child(1),
.footer .col:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* Colonne Adresse */

.footer .col:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Téléphone */

.footer .col:nth-child(3) p:last-child {
    margin-top: 6px;
    font-weight: 600;
}

/* Responsive */

@media (max-width:768px){

    .footer {
        padding: 20px;
    }

    .footer .row{
        gap:25px;
        text-align:center;
    }

}