.artisan-category {
    background-color: #0074C7;
    color: white;
}

.artisan-category.active {
    background-color: #00497C;
    color: white;
    font-weight: bold;
}

.row {
    row-gap: 50px;
}

/* Responsive */ 

@media (max-width: 768px) {

    .categories-container {
        flex-wrap: wrap;
        gap: 20px !important;
    }

    .artisan-category {
        width: 140px;
    }

}